<div class="restaurants-container" ><!-- 1st row -->
  <% @round.restaurants.each do |r| %>

    <div class='restaurant-item <%= session[r.name] ? 'voted' : 'voteable' %> hvr-float-shadow' data-restaurant-id='<%= r.id %>' data-round-id='<%= @round.id %>'>
      <p class="center restaurant-name"><%= r.name %></p>
      <% if r.price == nil %>
      <p class="center restaurant-price"> Price: N/A </p>
      <% else %>
      <p class="center restaurant-price"><%= '$' * r.price.to_i %></p>
      <% end %>
      <p class="center restaurant-rating"><%= '*' * r.rating.to_i %></p>
    </div>
  <% end %>
</div>
