<% if session[:creator] %>
<div class="link-container">
  <div id="game-key" data-round-id="<%= @round.id %>">
    <div>Game Link: <span class="hvr-underline-from-center" id='link'><%= @round.vote_url[0..-5] %><span id="game-id"><%= @round.vote_url[-4..-1] %></span></div></span>
    <button class="hvr-grow-shadow" id="link-copy" onclick="copyToClipboard('#link')">Copy Link</button>
  </div>
</div>
<% end %>


<div id='container' data-round-id="<%= @round.id %>">
  <%= render "restaurants_list" %>
</div>
<div id='finish-vote'>
  <%= form_tag({controller: "rounds", action: "finish_voting"}, method: "put", id: 'vote-check')  do %>
  <%= label_tag(:finished, "I'm finished voting") %>
  <%= check_box_tag(:finished) %>
  <% end %>
</div>



<% if session[:creator] %>
<div id='creators-dashboard'>
  <span id='user-info'>0 users in session</span>
  <span id='finished-users'>0 users have finished voting</span>
  <div id="round-results-btn" data-round-id="<%= @round.id %>">
    <%= link_to 'Results', "/rounds/#{@round.id}/results", id: 'results-link' %>
  </div>
</div>
<% end %>
