<% if session[:creator] %>
  <div id="game-key" data-round-id="<%= @round.id %>">
    <%= @round.vote_url %>
  </div>
<% end %>

<div id='container' data-round-id="<%= @round.id %>">

<%= render "restaurants_list" %>
  <div id="secret" data-round-id="<%= @round.id %>"></div>

  <div class="names-container">
    <ul id="users-ul">
     <% @round.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
    </ul>
  </div>

</div>

<div id="round-results-btn" data-round-id="<%= @round.id %>">

  <% if session[:creator] %>
    <%= link_to 'Results', "/rounds/#{@round.id}/results", id: 'results-link' %>
  <% end %>
</div>
