<% if session[:creator] %>
  <p id="invite-info">Share the link with other people in your party. Once everyone has placed their votes, click results to find out where you're eating!</p>
  <div class="link-container">
    <div id="game-key" data-round-id="<%= @round.id %>">
      <span class="hvr-underline-from-center" id='link-key'>Share This Link: <span id='link'>goo.gl/<span id='key'><%= "#{@round.key[-6..-1]}" %></span></span>
    </div>
    <button id="link-copy" onclick="copyToClipboard('#link')">Copy Link</button>
  </div>
<% else %>
  <p id="invite-info">Select all the restaurants you would like to eat at then click finished voting</p>
<% end %>



<div id='container' data-round-id="<%= @round.id %>" data-user-id="<%= @user.id %>" lat-id=>
  <%= render "restaurants_list" %>
</div>

<% if !session[:creator] %>
  <div id='finish-vote'>
    <%= form_tag({controller: "rounds", action: "finish_voting"}, method: "put", id: 'vote-check') do %>
      <% if !session[:voted].nil? %>
        <%= submit_tag 'finished voting', id: 'vote-finish', class: 'submit-button hvr-grow-shadow', disabled: true %>
      <% else %>
        <%= submit_tag 'finished voting', id: 'vote-finish', class: 'submit-button hvr-grow-shadow' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if session[:creator] %>
  <div id='creators-dashboard-container'>
    <div id='creators-dashboard'>
      <div id="round-results-btn" class="submit-button" data-round-id="<%= @round.id %>">
        <%= link_to 'Results', "/rounds/#{@round.id}/results", id: 'results-link' %>
      </div>
      <span id='finished-users' class="submit-button">0</span>
    </div>
  </div>
<% end %>
