<div id="game-key">
    <% if session[:creator] %>
      <p>Game-Key: <span id="key-number"><%= @round.key %></span> </p>
    <% end %>
</div>
<div id='container'>

<%= render "restaurants_list" %>
  <div id="secret" data-round-id="<%= @round.id %>"></div>

  <div class="names-container">
    <ul id="users-ul">
     <% @round.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
    </ul>
  </div>

</div>


<div id="round-results">
  <% if session[:creator] %>
    <%= link_to 'Results', "/rounds/#{@round.id}/results" %>
  <% end %>
</div>
