<!-- <div class="home-div">
  <img src='https://cdn.pixabay.com/photo/2014/04/02/10/39/plate-304113_960_720.png' class="home-image" />
</div> -->
<!-- <div class="center game-instruction">
  <p>Welcome XXXX either create a new game or join a game by entering the game key.</p>
</div> -->


<div class="index-container">
  <div class="error">
      <p><%#= @error if @error %></p>
  </div>

  <div class="form-container">
    <div class='game-instruction'>
      <p class="hvr-underline-from-center" id="welcome-message">Welcome! To Kafood where indecision on where to eat is solved once and for all. </p>
      <p class="hvr-underline-from-center">1.) Collect underpants Click on the map to move the pin to the desired location.</p>
      <p class="hvr-underline-from-center">2.)  ????? Click create and then share the link with other people in your party.</p>
      <p class="hvr-underline-from-center">3.) Profit. Once everyone has placed their votes click results find out where to eat.</p>
    </div>
    <div class="create-form">
      <%= form_tag rounds_path, method: :post, id: :'start-form' do |f| %>
<!--         <div><%= label_tag "Name:" %></div>
        <div><%= text_field_tag :name %></div> -->
      <div><%= submit_tag "Create",  :class => "hvr-grow-shadow submit-button", data: {disable_with: false} %></div>
        <% end %>
    </div>
<!--     <div class="options">
      <div>Create</div>
   </div> -->
    <!-- <div class="join-form">
      <%= form_tag find_key_path, method: :get do %>
        <div><%= label_tag "Name:", nil, :class => "name-label" %></div>
        <div><%= text_field_tag :name %></div>
        <div><%= label_tag "Key:", nil, :class => "key-label" %></div>
        <div><%= text_field_tag :key %></div>
        <div><%= submit_tag 'Join', :class => "submit-button" %></div>
       <% end %>
    </div> -->
</div>
  <div id="map"></div>
</div>
