<!-- <div class="home-div">
  <img src='https://cdn.pixabay.com/photo/2014/04/02/10/39/plate-304113_960_720.png' class="home-image" />
</div> -->

<div class="center game-instruction">
  <p>Welcome XXXX either create a new game or join a game by entering the game key.</p>
</div>



<div class="form-container">
  <div class="create-form">
    <%= form_tag rounds_path, method: :post do |f| %>
      <div><%= label_tag "Name:" %></div>
      <div><%= text_field_tag :name %></div>
      <div> <%= text_field_tag :street %></div>
      <div><%= text_field_tag :city %></div>
      <div><%= text_field_tag :state %></div>
      <div><%= submit_tag "Create Your Game",  :class => "submit-button" %></div
      <% end %>
  </div>
  <div class="options">
    <div><-- Create or Join --> </div>
  </div>
  <div class="join-form">
    <%= form_tag find_key_path, method: :get do %>
      <div><%= label_tag "Name:", nil, :class => "name-label" %></div>
      <div><%= text_field_tag :name %></div>
      <div><%= label_tag "Key:", nil, :class => "key-label" %></div>
      <div><%= text_field_tag :key %></div>
      <div><%= submit_tag 'Submit', :class => "submit-button" %></div>
     <% end %>
  </div>
</div>
