<div class='error-container'>
  <% if @error %>
    <% puts "I was reached, @error is #{@error}" %>
    <p><%= @error %></p>
  <% end %>

  <% flash.each do |key, value| %>
    <% puts "flash key is #{key}, flash value is #{value}" %>
    <p>test</p>
    <p><%= value %></p>
  <% end %>
</div>


<p id="welcome-message">Welcome! To Kafood where indecision on where to eat is solved once and for all. </p>
<div class="index-container">
  <div class="form-container">
    <div id="map"></div>
    <div class='game-instruction'>
      <p id="direction">Drop a pin on the map in the area you plan to eat</p>
      <div class="create-form">
        <%= form_tag rounds_path, method: :post, id: :'start-form' do |f| %>
          <div class="styled-select dim" id="radius-div">
          <%= label_tag "Radius:" %>
          <%= select_tag 'radius', "<option>Select radius</option><option>1/2 Mile</option><option selected=\"selected\">2 Miles</option><option>5 Miles</option><option>10 Miles</option>".html_safe %>
          </div>
        <%= submit_tag "Create", :class => "hvr-grow-shadow submit-button", :id => "create-button", data: {disable_with: false} %>
      <% end %>
      </div>
    </div>
   </div>
</div>


